<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd" />

    <!-- Common log level settings -->
    <logger name="kr.co.fisolution.fisq.domain.*.api.*" level="DEBUG" />

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <logger name="org.springframework.orm.jpa" level="DEBUG" />
        <logger name="org.springframework.transaction" level="DEBUG" />
        <logger name="org.springframework.web" level="DEBUG" />

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="test">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <logger name="org.springframework.orm.jpa" level="DEBUG" />
        <logger name="org.springframework.transaction" level="DEBUG" />
        <logger name="org.springframework.web" level="DEBUG" />

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

</configuration>